# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# utilities
joblib
memoized-property
termcolor
xlrd
openpyxl==3.0.3
# os
streamlit
streamlit-folium
matplotlib
seaborn

coverage
pytest
black
flake8
yapf
six>=1.14
fastapi
uvicorn
